body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400; /* Adjust weight as needed (100 to 900) */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.kumbh-sans-light {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
}

.kumbh-sans-bold {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    text-align: center;
    padding: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.center-content {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }
}

